/**************
    GENERALS
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.2rem;
}

/**************
    //GENERALS
***************/
/******** Generals style ********/
header {
    height: 10vh;
    position: fixed;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
}

.container {
    max-width: 1200px;
    padding-top: 15vh;
    margin: 0 auto;
}

#grid {
    display: flex;
    flex-wrap: wrap;
}

/******** //Generals style ********/

/******* Cells style *******/
.cell {
    width: calc(100% / 10);
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lightblue {
    background-color: #1a75ff;
}

.green {
    background-color: #33cc33;
}

/******* //Cells style *******/